<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification your Account</title>
</head>
<body>
    <div>
        <h2>Welcome to CaloTiket</h2>
        <p>Hello {{name}}, Click link bellow to verified your account!</p>
        <a href={{link}} target="_blank">
            <button style="background-color: rgb(50, 50, 238); padding: 4px; color: white">
                Activate your e-mail
            </button>
        </a>
    </div>
</body>
</html>